/* Service Component Style */

.single-service {
    padding: 5px;
    transition: 0.6s;
    margin: 10px;
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  }

  .single-service:hover {
    border: 1px solid cyan;
    border-radius: 10px;
    box-shadow: 4px 4px 7px gray;
  }
  
.service-image img{
    width: 200px;
    height: 150px;
    mix-blend-mode: multiply;
} 
  


.add-button{
  margin-top: -25px;
}

.icon{
    margin-right: 5px;
    
}

.facebook-icon-color{
  color: #4267B2;
}

.twitter-icon-color{
  color: #1DA1F2;
}

.linkedin-icon-color{
  color: #0077b5;
}