/* Footer Component Style */
.footer-nav {
  list-style: none;
  margin-top: 20px;
  font-size: 16px;
  cursor: pointer;
}
.footer-nav:hover {
  color: royalblue;
  font-weight: bold;
}
.footer-container {
  background-color: #191919;
  padding: 50px;
  color: rgb(216, 209, 209);
}
.footer-input {
    padding: 8px 20px;
    border: none;
    outline: none;
    background-color:white;
    margin-top: 5%;
  }

.newsletter-btn{
    padding: 11px 20px;
    border-radius: 5px;
    font-weight: bold;
  }
  
.footer-phone-icon {
    font-size: 17px;
    color:#77dd77;
  }

.footer-address-icon {
    font-size: 28px;
    color: #ff2400;
  }

.youtube-icon-color{
    color: #c4302b;
  }

.whatsapp-icon-color{
    color: #34B7F1;
  }


