
  .footer-menu {
    list-style: none;
    margin-top: 20px;
    font-size: 16px;
    cursor: pointer;
  }
  .footer-menu:hover {
    color: red;
  }
  .footer-input {
    padding: 8px 20px;
    border: none;
    outline: none;
    background-color:white;
    margin-top: 5%;
  }
  .footer-container {
    background-color: #191919;
    padding: 50px;
    color: rgb(216, 209, 209);
  }
  .footer-phone-icon {
    font-size: 20px;
    color: blue;
  }

  .footer-address-icon {
    font-size: 20px;
    color: #4cbb17;
  }

  .youtube-icon-color{
    color: #c4302b;
  }

  .whatsapp-icon-color{
    color: #34B7F1;
  }

  .NavLink{
    list-style: none;
  }