/* Banner Component Style */
.banner {
    background-image: url("../../img/banner.jpg"),
      linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    height: 500px;
    width: 100vw;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .banner-title {
    font-size: 49px;
    color: white;
    font-weight: bold;
      
  }
  
  .general-btn {
    background-color: blue;
    outline: none;
    border: none;
    padding: 10px 34px;
    color: white;
    margin-left: 50px;
    
  }